version: 2.1

jobs:
  runner-test:
    machine: true
    steps:
      - run: echo "Hi I'm on Runners!"
  ssh_deploy:
    machine:
      image: default
    steps:
      - run:
          name: Plan a deploy
          command: |
            circleci run release plan \
            --environment-name="pi deployment" \
            --component-name="personal_site" \
            --target-version="1.0.0"
      # Your job here doing the actual deployment
      - add_ssh_keys:
          fingerprints:
            - "6c:ec:a9:42:4a:06:05:44:c6:f2:e5:66:ba:9e:97:97"
            - "SHA256:2VVzhiV7FTQth5NXFwc/0R/dzLUUEumQUb1oT1lNy+U"
      - run:
          name: Deploy Over SSH
          command: |
            ssh $SSH_USER@$SSH_HOST "cd /var/www/personal_site && echo '$SSH_PASS' | sudo -S git pull && echo '$SSH_PASS' | sudo -S systemctl restart site"
      - run:
          name: Update a deploy to SUCCESS
          command: circleci run release update --status=SUCCESS 
          when: on_success 
      - run:
          name: Update planned deploy to FAILED
          command: circleci run release update --status=FAILED 
          when: on_fail	    

workflows:
  testing:
    jobs:
      - runner-test
  deploy:
    jobs:
      - ssh_deploy:
         filters:
           branches:
             only: master # only deploy on the main branch
