version: 2.1

jobs:
  run-tests:
    docker:
      - image: swipl:stable
    steps:
      - checkout
      # - restore_cache:
      #     name: Check Cache
      #     keys:  
      #       - v1-swi-cache
      # - run:
      #     name: Install SWI-Prolog
      #     command: |
      #       sudo apt-get update && sudo apt-get install -y software-properties-common
      #       sudo apt-add-repository -y ppa:swi-prolog/stable
      #       sudo apt-get update
      #       sudo apt-get install -y swi-prolog
      #       sudo rm -rf /var/cache/apt/archives/partial/*
      # - save_cache:
      #     name: Save Cache
      #     key: v1-swi-cache  
      #     paths:
      #       - /var/cache/apt/archives
      #       - /usr/bin/swipl
      #       - /etc/apt/sources.list.d/swi-prolog-ubuntu-stable-jammy.list
      - run:
          name: Check env
          command: |
            ls -la
            swipl --version
      - run:
          name: Run Tests
          command: |
            swipl -g "tests." server.pl  

  ssh_deploy:
    machine:
      image: default
    steps:
      - run:
          name: Plan a deploy
          command: |
            circleci run release plan \
            --environment-name="pi deployment" \
            --component-name="personal_site" \
            --target-version="1.0.1"
      # Your job here doing the actual deployment
      - add_ssh_keys:
          fingerprints:
            - "6c:ec:a9:42:4a:06:05:44:c6:f2:e5:66:ba:9e:97:97"
      - run:
          name: Deploy Over SSH
          command: |
            ssh $SSH_USER@$SSH_HOST "cd /var/www/personal_site && git pull && echo '$SSH_PASS' | sudo -S systemctl restart site"
      - run:
          name: Update a deploy to SUCCESS
          command: circleci run release update --status=SUCCESS 
          when: on_success 
      - run:
          name: Update planned deploy to FAILED
          command: circleci run release update --status=FAILED 
          when: on_fail	    

workflows:
  testing:
    jobs:
      - run-tests:
          filters:
            branches:
              ignore: master
    
  test-deploy:
    jobs:
      - run-tests
      - ssh_deploy:
         requires:
           - run-tests
         filters:
           branches:
             only: master # only deploy on the main branch
