version: 2.1



jobs:
  runner-test:
    machine: true
    steps:
      - run: echo "Hi I'm on Runners!"
  ssh_deploy:
    machine:
      image: ubuntu-2204:2023.07.2
    steps:
      - checkout:
          - run:
            name: Deploy Over SSH
            command: |
              ssh $SSH_USER@$SSH_HOST "cd /var/www/personal_site && git pull && systemctl restart site"


workflows:
  testing:
    jobs:
      - runner-test
  deploy:
    jobs:
      - ssh_deploy:
         filters:
           branches:
             only: main # only deploy on the main branch
