/* Basic that affects all pages */

body {
    margin: 0;
    font-size: clamp(10px, 2vw, 4rem);
}

#header {
    background-image:url("imgs/eats.jpg");
    background-size:10%;
    height:100px;
    justify-content:center;    
}


#content {    
    width:100%;
    display: flex;
    justify: content-center;
}

#footer {
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    height:75px;
    text-align: center;
}

#footer a {
    display:inline-block;
    padding:16px;
    text-decoration:none;
}

/* Home page extra styling */

.home-section {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-auto-rows: minmax(100px, auto); */
}

#home-navigator {
    position: fixed;
    padding:5px;    
    x:50;
    top:40%;
    z-index:1;
} 

.home-nav-a {
    text-decoration: none;
}

.home-nav {
    animation: growShrink linear;
    animation-timeline:scroll(root);
    margin:10px;
    padding:5px;
    opacity: .95;
    border-radius:10px;
}

.home-section-header {
    font-family: filson-pro;
    font-weight: 800;
    letter-spacing: 0;
    font-size: clamp(34px, 3vw, 4rem);
    line-height: 1.1904761905;
    display: flex;
    align-items: center;
}

.home-section-body {
    font-family: filson-pro;
    font-size: clamp(10px, 2vw, 4rem);
    letter-spacing: 0;
    line-height: 1;
    display: flex;
    align-items: center;
}

#life-nav {
    animation-range: -15% 30%; 
}

#passions-nav {
    animation-range: 10% 60%; 
}

#work-nav {
    animation-range: 37% 85%; 
}

#skills-nav {
    animation-range: 65% 120%; 
}

#contact-nav {
    animation-range: 60% 90%; 
}

@keyframes growShrink {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1);
  }
}


/* Navigation Bar styling */
/* The div that holds the navigation bar */
#top_nav_bar {
    display:flex;
    margin: 0 auto;
    width: auto;
    left:0;
    top:0;
}

/* The UL around the list */
#navigationbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    display: flex;
    gap: 10px;
}

/* Each list item in the topnav and the link */

.navitem {
    display:inline-block;
    border:none;
}

/* every top level link in the topnav */
.topnav {

    display: inline-block;
    padding: 16px;
    text-decoration: none;
    z-index:1000;
    border:none;
}

/* Dropdown Content (Hidden by Default) */
.dropdown {
    position: relative;
    display: flex;
    background-color: inherit;    
}


.dropdown-content {
    top:55px;
    display: none;
    position: fixed;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding-inline-start:0;
    list-style-type:none;
    width:auto;
}

.dropdown-content a{
    z-index:1001;
    text-align:left;
    display:block;
    text-decoration:none;

}

.dropdown:hover  .dropdown-content {
    display: inline-block;

}

.subnav{
    width:-webkit-fill-available;
    padding: 16px;    
}

/* Theme Selector */
#themeSelector {
    margin: 10px;
    float:right;
}

/* Dialog Styles */
#dialog-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    height: 100vh;
    width: 100vw;
    background-color:rgba(244, 244, 244, 0.5);
    justify-content: center;
    display: flex;
    overflow: hidden;
}

#dialog-body {
    transition: box-shadow 83ms;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    margin: 0 auto;    
    width: 240px;
    height: 225px;
    top: 25%;
    padding: 10px;
}

#dialog-header {
    width: 100%;
    box-sizing: inherit;
    margin-bottom: 0;
    font-size: 1rem !important;
    line-height: 1;
    height: 105px;
    display: flex;
}

#dialog-header-text {
    margin: 0px;
    height: 100%;
    width: 75%;
}

#password-visibility-button {
    position: absolute;
    right: 15px;
}

#dialog-close-button-container {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 25%;
    margin: 0;
}

#dialog-close-button {
    width: 25px;
    height: 25px;
    margin: auto
}

#dialog-body-content {
    display: flex;
    justify-content: center;
    height: 100%;
}

/* Snackbar alert Styles */

.snackbar-alert {    
    animation-name: fade-out;
    animation-duration: 1.8s;
    animation-delay: 3.3s;
    animation-iteration-count: 5;
    min-width: 150px;
    padding: 5px;
    height: 25px;
    position: absolute;
    bottom: 50px;
    right: 50px;
    border-radius: 5px;    
}

@keyframes fade-out {
    from {
	opacity:100%
    }
    to {
	opacity: 0%
    }    
}

@keyframes slide-in {
  from {
    translate: 150vw 0;
    scale: 200% 1;
  }

  to {
    translate: 0 0;
    scale: 100% 1;
  }
}

#login-form {
    width: fit-content;
}

.formfield-container{
    margin: 10px;
    padding: 5px;
    display: flex;
    justify-content: center;
}

#password-container {
    margin: 10px;
    padding: 5px;
}

#login-div {
    float:right;
}

#login-button {
    margin: 10px;
    border: none;
    border-radius: 30px;
}

/* Text bodies that will apply to base level pages */

#doc_body {
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

#leftcolumn {

    width:10%;
    float:left;
    height:500px;
    padding:0;
}
#rightcolumn {

    width:10%;
    float:left;
    height:500px;
    opadding:0;
}

#main {
    /* justify-content: center; */
    margin: auto;
    padding: 15px;
    padding-left: clamp(10%, 15%, 20%); /* Dynamically adjusts padding */
    padding-right: clamp(10%, 15%, 20%); /* Dynamically adjusts padding */
    opacity:1;
    z-index:0;
}

.home-section {
    width:100%;
    display:grid;
    justify-content: center;
    font-size: clamp(1rem, 2vw, 1.5rem);
    vertical-align: middle;
}

/* Skills Stuff */

@keyframes rotations {
  to { transform: rotate(360deg) }
}

.skills-section {
    height: 100vh;
    width:100%;
    justify-content: center;
    vertical-align: middle;
}

.lang_header {
    
    text-align:center;
}

.lang_div {
    position: relative;
    margin: auto;
    
    border-radius:50%;
    position: absolute;
    top: 50%;
    left: 50%;
}

.lang_img {
    width: 50px;
    height: 50px;   
    animation: rotations 40s linear infinite;
    animation-direction: reverse;
}


#language_header_blurb {
    position: relative;
    top: 55%;
    left: 35%;
    width:275px;
    font-family: filson-pro;
    font-weight: 800;
    letter-spacing: 0;
    font-size: 30PX;
    line-height: 1.190476;
}

/* 
   THE FORMULA: 
   1. translate(-50%, -50%) Center the div
   2. rotate(Xdeg)          Point towards the edge
   3. translate(180px)      Pushes out along the forward line
   4. rotate(-Xdeg)         Re-level the content
*/
.lang_div {
    --radius: 220px; /* orbit size */
    position: absolute;
    top: 50%;
    left: 50%;
    
    transform: translate(-50%, -50%) 
               rotate(calc(var(--i) * 15deg)) 
               translate(var(--radius)) 
               rotate(calc(var(--i) * -15deg));
}

/* Assign the index to each child */
.lang_div:nth-child(1)  { --i: 0; }
.lang_div:nth-child(2)  { --i: 1; }
.lang_div:nth-child(3)  { --i: 2; }
.lang_div:nth-child(4)  { --i: 3; }
.lang_div:nth-child(5)  { --i: 4; }
.lang_div:nth-child(6)  { --i: 5; }
.lang_div:nth-child(7)  { --i: 6; }
.lang_div:nth-child(8)  { --i: 7; }
.lang_div:nth-child(9)  { --i: 8; }
.lang_div:nth-child(10) { --i: 9; }
.lang_div:nth-child(11) { --i: 10; }
.lang_div:nth-child(12) { --i: 11; }
.lang_div:nth-child(13) { --i: 12; }
.lang_div:nth-child(14) { --i: 13; }
.lang_div:nth-child(15) { --i: 14; }
.lang_div:nth-child(16) { --i: 15; }
.lang_div:nth-child(17) { --i: 16; }
.lang_div:nth-child(18) { --i: 17; }
.lang_div:nth-child(19) { --i: 18; }
.lang_div:nth-child(20) { --i: 19; }
.lang_div:nth-child(21) { --i: 20; }
.lang_div:nth-child(22) { --i: 21; }
.lang_div:nth-child(23) { --i: 22; }
.lang_div:nth-child(24) { --i: 23; }


/* Animation definition */
@keyframes rotations {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}



#rotator {
  position: relative;
  height: 25rem;
  animation: rotations 40s linear infinite;
}

/* Gallery page specific styling */
 
.gallery_image {
    width: 200px;
    height: 266px;
    float:left;
    border-radius:8px;
    margin:2%;
}

.gallery_image:hover {
    width: 200px;
    float:left;
    box-shadow: 0 5px 15px #999999;
}

.enlarged_image {
    border: none;
    /* vertical-align: middle; */
    /* aspect-ratio: auto 1024 / 1536; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    border-radius:8px;
}
.gallery_next_previous {
    height: 20px;
    width: 300px;
}

#img_button_container {
    text-align: center;
}
#full_img_btn {
    text-align: center;
}

#enlarged_picture_layout {
    
}

#display {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(100px, auto);
    gap: 10px;
 /*   background-image: url("imgs/lookip.pdf");*/
    background-size: 100%;
    background-position: center;
    width: 100%;
    height: 100%;
}


/* Engine page specific styling */

.result {
    display:inline-block;
    padding:16px;
    margin:6px;
    text-decoration:none;
    color:#000;
    width:70%;
}

.result:hover {
    color:#222;
}


/* COOKING PAGE CSS */

.recipe_main {
    text-align: center;
}

.recipe_card {
    width:50%;
    padding:10px;
    margin:10px;
    background-color:#a1bbc4;
    border-radius:30px;
    display: inline-block;
}

.tag {
    margin:5px;
    padding:5px;
    background-color:#213db8;
    border-radius:11px;
    color:white;
}

.recipe_card_header {
    margin:5px;
    padding:10px;
    background-color:#8191b3;
    border-radius:30px;
}

.recipe_card_tag_container {
    margin:5px;
    padding:10px;
}

.recipe_card_ingredients {
    margin:5px;
    padding:3px;
    background-color:#aeccd6;
    border-radius:30px;
    text-align: left;
}


.recipe_card_directions {
    margin:5px;
    padding:3px;
    background-color:#aeccd6;
    border-radius:30px;
    text-align: left;    
}

