#header {
    background-image:url("gallery/eats.jpg");
    background-size:10%;
    height:200px;
    justify-content:center;
    
}

#navigationbar {
    background-color: #777;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
}
li .topnav  {
    display:inline;
}
a  {
    float: left;
    display: block;
    color: #000;
    padding: 16px;
    text-decoration: none;
}


/* Change the link color on hover */
li a:hover {
  background-color: #555;
  color: white;
}

#top_nav_bar {
    display:flex;
    justify-content:center;
    margin: 0 auto;
    width: auto;
}

#imagetest {
    background-image: url("gallery/playfish.jpg");
    background-size: 100%;
    background-position: center;
    height: 400px;
    width: 400px;
	    
    
}
