:root {
    --base1: #000000;
    --base2: #FF2DD1;
    --base3: #9929EA;
    --base4: #FAEB92;
    --base5: #FF5FCF;
    --base6: #ffffff;
    --base7: #0046FF;
    --base8: #63C8FF;
    --nav1:  #000000; /* Navbar */
    --nav2:  #63C8FF; /* Hover nav text */
    --res1:  #9929EA; /* Search Result  */
    --res2:  #B6F500; /* Search Result Hover */
    --font: sans-serif;
}

[data-theme="ArtsAndCrafts"] { 
    --base1: #000000; /* Default background */
    --base2: #A06AB4; /* */
    --base3: #FFD743; /* Header/Footer Text hover-nav-color*/
    --nav1:  #E56997; /* Navbar */
    --nav2:  #ffffff; /* Hover nav text */
    --res1:  #8D538D; /* Search Result  */
    --res2:  #8D538D; /* Search Result Hover */
}

[data-theme="MeltedIceCream"] {
    --base1: #000000; /* default Text Color */
    --base2: #5BB0BA; /* Footer and Background */
    --base3: #F6C8CC; /* Body  & Footer Text &  hover-nav-color */
    --nav1:  #C15B78; /* Navbar */
    --nav2:  #EBF5F7; /* Hover nav text */
    --res1:  #8D538D; /* Search Result  */
    --res2:  #C15B78; /* Search Result Hover */
}

[data-theme="MidnightSwim"] {
        --base1: #000000; /* default Text Color */
    --base2: #08153A; /* Footer and Background */
    --base3: #C08D2C; /* Body  & Footer Text &  hover-nav-color */
    --nav1:  #0B1F65; /* Navbar */
    --nav2:  #E3B668; /* Hover nav text */
    --nav3:  #FFE0AE; /* Navbar Text */
    --res1:  #8D538D; /* Search Result  */
    --res2:  #C15B78; /* Search Result Hover */
}

[data-theme="PowerUp"] {
        --base1: #000000; /* Default background */
    --base2: #900020; /* */
    --base3: #e9ddd4; /* Header/Footer Text hover-nav-color*/
    --base4: #e9ddd4; /* Background Main */
    --nav1:  #AE002B; /* Navbar */
    --nav2:  #ffffff; /* Hover nav text */
    --res1:  #AE623A; /* Search Result  */
    --res2:  #C57951; /* Search Result Hover */
}

[data-theme="SunKissedRock"] {
        --base1: #000000; /* default Text Color */
    --base2: #FFE0AE; /* Footer and Background */
    --base3: #A2ABCE; /* Body  & Footer Text &  hover-nav-color */
    --nav1:  #F5631A; /* Navbar */
    --nav2:  #FFA303; /* Hover nav text */
    --nav3:  #FFE0AE; /* Navbar Text */
    --res1:  #8D538D; /* Search Result  */
    --res2:  #C15B78; /* Search Result Hover */
}

[data-theme="twilightStreet"] {
    --base1: #000000; /* Default background */
    --base2: #96A2ED; /* */
    --base3: #EBF5F7; /* Header/Footer Text hover-nav-color*/
    --nav1:  #0C1446; /* Navbar */
    --nav2:  #C98568; /* Hover nav text */
    --res1:  #8D538D; /* Search Result  */
    --res2:  #8D538D; /* Search Result Hover */
}

[data-theme="noName"] {
    --base1: rgb(18, 18, 18); /* Default background */
    --base2: rgb(18, 18, 18); /* */
    --base3: rgb(251, 222, 0); /* Header/Footer Text hover-nav-color*/
    --nav1:  rgb(18, 18, 18); /* Navbar */
    --nav2:  rgb(160, 264, 0); /* Hover nav text */
    --res1:  rgb(251, 222, 0); /* Search Result  */
    --res2:  rgb(251, 222, 0); /* Search Result Hover */
}

body {
    background-color: var(--base2);
    font-family: var(--font);
}

#footer {
    background-color: var(--base2);
    color: var(--base3);
}

#footer a {
    color:var(--base3);	  
}

/* Text bodies that will apply to base level pages */


#main {

    color: var(--base1);
    background-color: var(--base3);
}

.home-nav {
    background-color:var(--base2);
    color: var(--base3);
}

#dialog-body{
    background-color:var(--base2);
}

/* The UL around the list */
#navigationbar {
    background-color: var(--nav1);
}

/* every top level link in the topnav */
.topnav {
    color: var(--base3);
}

#navigationbar a:hover {
    background-color: var(--base2);
    color: var(--nav2);
}


.dropdown-content {
    background-color: var(--base2);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a{
    color: var(--base3);
}

.dropdown-content a:hover {
    background-color: var(--nav2);
}

/* Snackbar styling */

.snackbar-alert {    
    background-color: var(--base2);
}

/* Login Styling */


#login-button {
    background: var(--res1);
}

#login-button:hover {
    background: var(--res2);
}

/* Gallery page specific styling */

.gallery_image:hover {
    box-shadow: 0 5px 15px #999999;
}

/* Engine page specific styling */

.result {
    background-color:var(--base3);
    color:var(--base1);
}

.result:hover {
    background-color:var(--base8);
    color:var(--base1);
}
