
/* Basic that affects all pages */

:root {
    --base1: #000000; /* Default background */
    --base2: #96A2ED; /* */
    --base3: #EBF5F7; /* Header/Footer Text hover-nav-color*/
    --nav1:  #0C1446; /* Navbar */
    --nav2:  #C98568; /* Hover nav text */
    --res1:  #8D538D; /* Search Result  */
    --res2:  #8D538D; /* Search Result Hover */
}

body {
    background-color: var(--base2);
}

#footer {
    background-color: var(--base2);
    color: var(--base3);
}

#footer a {
    color:var(--base3);	  
}

/* Text bodies that will apply to base level pages */


#main {
    color: var(--base1);
    background-color: var(--base3);
}



/* The UL around the list */
#navigationbar {
    background-color: var(--nav1);
}

/* every top level link in the topnav */
.topnav {
    color: var(--base3);
}

#navigationbar a:hover {
    background-color: var(--nav2);
    color: var(--base3);
}


.dropdown-content {
    background-color: var(--nav1);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a{
    color: var(--base3);
}

.dropdown-content a:hover {
    background-color: var(--nav2);
}


/* Gallery page specific styling */

.gallery_image:hover {
    box-shadow: 0 5px 15px #999999;
}

/* Engine page specific styling */

.result {
    background-color:var(--res1);
    color:var(--base1);
}

.result:hover {
    background-color:var(--res2);
    color:var(--base1);
}
