[Unit]
Description=HTTPS Server

[Service]
UMask=022
Environment=LANG=en_US.utf8
Restart=on-failure
ExecReload=/bin/kill -s HUP $MAINPID
StartLimitInterval=60
LimitNOFILE=1000
StartLimitBurst=5
WorkingDirectory=/var/www/personal_site
ExecStart=/usr/bin/swipl -g "server(443,[prod,docker])" server.pl --https --no-fork --user=www-data \
   --certfile=/etc/letsencrypt/live/alexanderdelaurentiis.com/cert.pem \
   --keyfile=/etc/letsencrypt/live/alexanderdelaurentiis.com/privkey.pem\
   --workers=16 \
   --cipherlist=EECDH+AESGCM:EDH+AESGCM:EECDH+AES256:EDH+AES256:CHACHA20 \
   --keep_alive_timeout=2

[Install]
WantedBy=multi-user.target